{% extends "base.html" %}

<head>
    {% load chartit %}
    {{ sampleChart|load_charts:"container" }}
</head>



{% block content %}

<h1>{% block title %}{{ userDistrict.full_name }} ({{ userDistrict.district_code }}){% endblock %}</h1>
<h3>{{ userDistrict.city }}, {{ userDistrict.state }}</h3><br/>
<h4>{{ schoolCount }} schools in this district
<hr/>

<div>
<img src="{{ horizontalBarStack }}">


<img src="{{ verticalBarGroup }}">

<img src="{{ meter }}">

<img src="{{ verticalBarStack }}">
</div>

{% endblock %}
