{% extends "base.html" %}

{% block title %} 
	{{ userDistrict.full_name }} ({{ userDistrict.district_code }})
{% endblock %}


{% block content %}
<h1>{{ userDistrict.full_name }}</h1>
<h3>{{ userDistrict.city }}, {{ userDistrict.state }}</h3>

<div id="actions">
	<div class="row">
		<div class="span6 button">
			<a id="addSchool" class="btn-primary btn-large" data-toggle="modal" data-target="#addSchoolModal" href="/addSchool/">Add a School</a>
		</div>
		<div class="span6">
			<p id="districtFilter"></p>
		</div>
	</div>		
</div>


<div id="stats">
	<div class="row">
		<div class="span4 stat">
			<h4 class="statTitle">Number of Schools</h4>
			<p class="statValue">{{ schoolCount }}</p>
		</div>
		<div class="span4 stat">
			<h4 class="statTitle">Number of Computers</h4>
			<p class="statValue">{{ computerCount }}</p>
		</div>
		<div class="span4 stat">
			<h4 class="statTitle">Number of Teachers</h4>
			<p class="statValue">{{ teacherCount }}</p>
		</div>
	</div>
</div>

<div id="stats">
	<div class="row">
		<div class="span4 stat">
			<h4 class="statTitle">Elementary Schools</h4>
			<p class="statValue">{{ elementarySchoolCount }} 0</p>
		</div>
		<div class="span4 stat">
			<h4 class="statTitle">Middle Schools</h4>
			<p class="statValue">{{ schoolCount }}</p>
		</div>
		<div class="span4 stat">
			<h4 class="statTitle">High Schools</h4>
			<p class="statValue">{{ schoolCount }}</p>
		</div>
	</div>
</div>	



<!-- <h2>{{ userDistrict.district_code }} Schools:</h2>

<ul>
  {% for school in schools %}
  <li>
    <a href="/school/{{ school.id }} ">{{ school.full_name }} ( {{ school.school_code }} )</a>
  </li>
  {% endfor %}
</ul> -->



<div class="modal hide" id="addSchoolModal">
  <div class="modal-header">
    <a href="#" class="close" id="closeModal" data-dismiss="modal">&times;</a>
    <h2>Add a new School:</h2>
  </div>
  <div class="modal-body">
    <form action="/addSchool/" id="addSchoolForm" method="post">
      {% csrf_token %}
      <label for="schoolName">Full Name:</label><br/>
      <input type="text" name="schoolName" id="schoolName" /><br/>
      <br/>
      <label for="schoolCode">School Code:</label><br/>
      <input type="text" name="schoolCode" id="schoolCode" /><br/>
      <br/>
    </form>
  </div>
  <div class="modal-footer">
    <input type="button" class="btn" id="closeButton" value="Cancel" />
    <input type="button" class="btn btn-primary" id="addButton" value="Add" />
  </div>
</div>


<script type="text/javascript">
  $(document).ready( function(){
	
    $("#closeButton").click(function() {
      $('#addSchoolModal').modal('hide');
    });

    $("#addButton").click( function() {
      $("#addSchoolForm").submit();
    });

  });
</script>

{% endblock %}



