{% extends "base.html" %}

{% block title %} 
	{{ userDistrict.full_name }} ({{ userDistrict.district_code }})
{% endblock %}


{% block content %}

<div>
  <div class="row">
    <div class="span6">
      <h1>{{ userDistrict.full_name }}</h1>
      <h3>{{ userDistrict.city }}, {{ userDistrict.state }}</h3>
    </div>
    <div class="span6">
      <p>Navigate to a school:</p>
      <select name="schoolSelect" id="schoolSelect">
      {% for school in schools %}
        <option value="{{school.id}}" selected="selected">{{school.full_name}}</option>
      {% endfor %}
      </select>
    </div>
  </div>		
</div>

<div id="stats">
	<div class="row">
		<div class="span4 stat">
			<h4 class="statTitle">Number of Schools</h4>
			<p class="statValue">{{ schoolCount }}</p>
		</div>
		<div class="span4 stat">
			<h4 class="statTitle">Number of Computers</h4>
			<p class="statValue">{{ computerCount }}</p>
		</div>
		<div class="span4 stat">
			<h4 class="statTitle">Number of Teachers</h4>
			<p class="statValue">{{ teacherCount }}</p>
		</div>
	</div>
</div>

<div id="stats">
	<div class="row">
		<div class="span4 stat c">
			<h4 class="statTitle">Worst Students-per-Computer Ratios</h4>
			<img src="{{ studentsPerComputerChart }}" class="chart">
		</div>
		<div class="span8 stat">
			<h4 class="statTitle">School Types</h4>
			<img src="{{ schoolTypeChart }}" class="chart">
		</div>
	</div>
</div>

<div id="stats">
	<div class="row">
		<div class="span4 stat">
			<h4 class="statTitle">Worst Students-per-Computer Ratios</h4>
			<ul>
			{% for ratio in studentsPerComputerRatioList %}
				<li><a href="/school/{{ ratio.0.id }} ">{{ ratio.0.full_name }}</a>:  {{ ratio.1 }}</li>
			{% endfor %}
			</ul>
		</div>
		<div class="span4 stat">
			<h4 class="statTitle">Least Number of Computers</h4>
			<ul>
			{% for ratio in computersPerSchoolCountList %}
				<li><a href="/school/{{ ratio.0.id }} ">{{ ratio.0.full_name }}</a>:  {{ ratio.1 }}</li>
			{% endfor %}
			</ul>
		</div>
		<div class="span4 stat">
			<h4 class="statTitle">Worst Teacher-per-Computer Ratios</h4>
			<ul>
			{% for ratio in teachersPerComputerRatioList %}
				<li><a href="/school/{{ ratio.0.id }} ">{{ ratio.0.full_name }}</a>:  {{ ratio.1 }}</li>
			{% endfor %}
			</ul>
		</div>
	</div>
</div>

{% endblock %}

