{% extends "base.html" %}

{% block content %}
<h2>{{ school }}</h2>
<h3>Total Computers: {{ computerCount }}</h3>
<h4>{{ osxCount }} Mac | {{ linuxCount }} Linux | {{ windowsCount }} Windows</h4>
<hr/>
<button class="btn-primary" id="addComputer">Add a Computer</button><br/><br/>

<table class="table table-bordered table-striped">
	<thead>
		<tr>
			<th>OS</th>
			<th>Processor</th>
			<th>HD Size</th>
			<th>RAM</th>
			<th>Monitor Size</th>
		</tr>
	</thead>
	<tbody>
	{% for computer in computers %}
    <tr>
		<td>{{ computer.os }}</td>
		<td>{{ computer.processor }}</td>
		<td>{{ computer.hd_size }}</td>
		<td>{{ computer.ram }}</td>
		<td>{{ computer.monitor_size }}</td>
	</tr>
	{% endfor %}
	</tbody>
</table>

<div class="modal hide fade" id="addComputerForm">
	<div class="modal-header">
		<a href="#" id="close" class="close">&times;</a>
		<h2>Add a new Computer:</h2>
	</div>
	<div class="modal-body">
		<form action="/addComputer/" method="post">{% csrf_token %}
		{{ form.as_p }}
	</div>
	<div class="modal-footer">
		<input type="submit" value="Add" />
	</form>
</div>

<script type="text/javascript">
$(document).ready(function(){
	
	$("#addComputer").click(function() {
		$('#addComputerForm').modal('show');
	});

});
</script>

{% endblock %}


