.clearboth {
    clear:both;
}

body {
    padding-top: 90px;
}

body.no-user-base {
    text-align: center;
}


input.btn[type=submit] {
    margin-bottom: 1px;
}

div.button {
    margin-top: 15px;
    margin-bottom: 15px;
    display:block;
}

#actions {
    margin: 15px;
    display: inline;
}

#actions .button {
    float:left;
}
#actions .select {
    float:right;
    text-align: right;
}
#stats .row {
    margin-top: 30px;
}

#stats img.chart {
      margin: 20px 0 20px 0;
      display: block;
      text-align: center;
}

#stats .stat h4 {
    border-bottom: 1px solid #F0F1F2;
    margin: 0 0 10px;
    padding: 0 0 5px;
    text-align: center;
}

#stats .stat .statValue {
    background: #F0F1F2;
    display: block;
    font-size: 60px;
    line-height: 120px;
    text-align: center;
}
.center {
    margin-left:10%;
    margin-right:auto;
    width:80%;
}